/* Change Fonts */
@font-face {
	font-family: 'Droid Sans Arabic';
	font-style: normal;
	font-weight: 400;
	src: url(lib/DroidSansArabic.ttf) format('truetype');
}
body,
h1, h2, h3, h4, h5, h6, #comment-header,
input[type="text"], input[type="password"], input[type="email"], textarea, select,
pre,
.button, button, input[type="submit"], input[type="reset"], input[type="button"],
.widget .widget-title,
#cancel-comment-reply-link {
	font-family: 'Droid Sans Arabic', "Droid Serif", serif, arial;
}

/* Fix Isotope RTL */
.isotope .isotope-item {
	-webkit-transition-property: right, top, -webkit-transform, opacity;
	-moz-transition-property: right, top, -moz-transform, opacity;
	-ms-transition-property: right, top, -ms-transform, opacity;
	-o-transition-property: right, top, -o-transform, opacity;
	transition-property: right, top, transform, opacity;
}

/* Change Colors */
a:link, a:visited { color: #9babb0; }
a:hover, a:focus { color: #808f93; }
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color:#0c96c2;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background-color:#637f85;
}
#site-title {	color:#FE6E41; }
#comment-header h3, #comments-title, #comment-form-title, #site-description, .widget .widget-title, #page-not-found-message h3, #reply-title {
	color:#0c96c2;
}
#header {	border-bottom-color:#c3d5da; }
#top-nav ul a:link, #top-nav ul a:visited { color:#0c96c2; }
#top-nav ul ul {
	border-color:#d2dcdf;
}
#top-nav ul li li a, #top-nav ul li.current-menu-item li a, #top-nav ul li.current-menu-parent li a, #top-nav ul li.current-menu-ancestor li a, #top-nav ul li li.current-menu-item li a, #top-nav ul li li.current-menu-parent li a, /*3rd level*/
#top-nav ul li li.current-menu-parent li.current-menu-item a {
	color:#0c96c2;
}
#top-nav ul li li a, 
#top-nav ul li.current-menu-item li a, 
#top-nav ul li.current-menu-parent li a, 
#top-nav ul li.current-menu-ancestor li a, 
#top-nav ul li li.current-menu-item li a, 
#top-nav ul li li.current-menu-parent li a, 
#top-nav ul li li.current-menu-parent li.current-menu-item a,
#top-nav .sub-menu li a, 
#top-nav .sub-menu .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li a{
	border-bottom-color:#d2dcdf;
	color:#0c96c2;
}
#searchform input, .sm-top a, #get-cats, select {
	border-color:#d2dcdf;
}
#searchform:hover input {	border-color:#0c96c2; }
#searchform:hover input#searchsubmit{	border-color:#0c96c2; }
#searchform input#searchsubmit {	 border-color:#d2dcdf; }
.sm-top li.sm-top-fb a:hover, .sm-top li.sm-top-gplus a:hover , .sm-top li.sm-top-tw a:hover, .sm-top li.sm-top-youtube a:hover {
	border-color:#0c96c2;
}
#primary-nav ul.nav-listing li a {	color:#0c96c2; }
#primary-nav ul.nav-listing li a:hover, #primary-nav ul.nav-listing li a.selected {	color:#0c96c2; }
#primary-nav ul.nav-listing li a span {	background-color:#0c96c2; }
#primary-nav ul.nav-listing li a.selected span {	background-color:#0c96c2; }
article.post .meta {	border-top-color:#c2cccf; }
body.single article.post .meta {	border-bottom-color:#c2cccf; }
.meta, .meta a {	color:#0c96c2; }
div.entry.clearfix p a{	color: #8aacb7; }
.count-comment a {	background-color:#c1d2d6; }
.post-navigation .wp-pagenavi a, .post-navigation .wp-pagenavi span {
	border-color:#c2cccf;
	color:#8aacb7;
}
.post-navigation .wp-pagenavi a:hover, .post-navigation .wp-pagenavi span.current {
	border-color:#8aacb7;
} 
.widget a {	color:#688a8e; }
.btn-top {	border-color:#dde7ea; }
.btn-top:hover {	border-color:#0c96c2; }
.commentlist .comment-meta {	border-bottom-color:#c2cccf;	}
.corner-stamp {	background-color:#0c96c2; }
.corner-stamp.columns.four {	background-color: #0c96c2; }
.post.corner-stamp .post-title {	border-bottom-color:#759fab; }
.corner-stamp header {	border-bottom-color:#759fab; }
.post.corner-stamp .entry{	border-top-color:#9bb9c2; }
.corner-stamp .categories a, .corner-stamp .categories li.current-cat li a {	color:#cde6eb; }		
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 5/2),
only screen and ( min-resolution: 144dpi) {
	.button, button, input[type="submit"], input[type="reset"], input[type="button"] {	background-color:#0c96c2;	}
	#primary-nav ul.nav-listing li a.selected span {	background-color: #0c96c2;	}
}

/* Remove the Sampression Background and make the background white */
#content-wrapper { 	background-image:none; }

/* Decrease the width of post poster by 2, and replace them with an elegant border */
.container .four.columns {	width:218px; }
.post {	border:solid 1px #8aadb7; }

/* Give comments a colored background after setting global background to white */
.commentlist .comment-entry {
	background-color:#f5f5f5;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}

/* Fix bottom links margin */
#nav-bottom {
	margin-bottom:20px;
	margin-bottom:2.0rem;
}

/* Footer dotted line */

#footer {
	border-top:0.1rem dashed #C3DAD5;
	border-top:1px dashed #C3DAD5;
}

/* Styles for footer social media links */
.footer-social-links, .footer-social-links ul, .footer-social-links ul li {
	text-align:left;
	margin:0;
	padding:0;
}

.footer-social-links {
	width:260px;
}

.footer-social-links ul {
	overflow:auto;
	float:left;
}

.footer-social-links ul li {
	direction:ltr;
	list-style-type:none;
}

.footer-social-links ul li span {
	vertical-align:36%;
	margin-right:7px;
}

/* Hide the WordPress Stats Icon if not already hidden from Jetpack -> Stats -> Config */
#wpstats {	display:none; }

/* Fix the Fancier author box styles */
.ts-fab-list {	padding: 0 5px 0 0; }
.ts-fab-list li {
	float: right;
	margin: 0 0 0 5px !important;
}
.ts-fab-avatar {	float: right; }
.ts-fab-no-float .ts-fab-avatar {	margin: 0 0 12px; }
.ts-fab-text {
	margin-left: 0;
	margin-right: 96px;
}
.ts-fab-no-float .ts-fab-text {	margin-left: 0; }
.ts-fab-latest-posts-link a {
	min-width:66%;
}

.ts-fab-list li.active a {
	background-color:#0c96c2;
	border-color:#0c96c2;
}
.ts-fab-tab {
	border-color:#0c96c2;
}