@font-face {
	font-family: 'Droid Sans Arabic';
	font-style: normal;
	font-weight: 400;
	src: url(lib/DroidSansArabic.ttf) format('truetype');
}

/* Change Theme Fonts */

body {
	font-family: 'Droid Sans Arabic', arial;
}

h1, h2, h3, h4, h5, h6, #comment-header {
	font-family: 'Droid Sans Arabic', arial;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
	font-family: 'Droid Sans Arabic', arial;
}

pre {
	font-family: 'Droid Sans Arabic', arial;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	font-family: 'Droid Sans Arabic', arial;
}

.widget .widget-title {
	font-family: 'Droid Sans Arabic', arial;
}

#cancel-comment-reply-link {
	font-family: 'Droid Sans Arabic', arial;
}

/* Hide the WordPress Stats Icon if not already hidden from Jetpack -> Stats -> Config */
#wpstats {
	display:none;
}

/* Fix the Fancier author box styles */
.ts-fab-list {
	padding: 0 5px 0 0;
}

.ts-fab-list li {
	float: right;
	margin: 0 0 0 5px !important;
}

.ts-fab-list li a {
	padding: 8px 12px;
}

.ts-fab-avatar {
	float: right;
}
.ts-fab-no-float .ts-fab-avatar {
	margin: 0 0 12px;
}
.ts-fab-text {
	margin-left: 0;
	margin-right: 96px;
}
.ts-fab-no-float .ts-fab-text {
	margin-left: 0;
}

/* Fix bottom links margin */
#nav-bottom {
	margin-bottom:20px;
	margin-bottom:2.0rem;
}

/* Remove the Sampression Background and make the background white */
#content-wrapper {
	background-image:none;
}

/* Decrease the width of post poster by 2, and replace them with an elegant border */
.container .four.columns {
	width:218px;
}

.post {
	border:solid 1px #8ab7ad;
}

/* Give comments a colored background after setting global background to white */
.commentlist .comment-entry {
	background-color:#f5f5f5;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}

/* Changing Colors */

#top-nav ul a:link, #top-nav ul a:visited {
	color:#0c96c2;
}

#top-nav ul li li a, #top-nav ul li.current-menu-item li a, #top-nav ul li.current-menu-parent li a, #top-nav ul li.current-menu-ancestor li a, #top-nav ul li li.current-menu-item li a, #top-nav ul li li.current-menu-parent li a, /*3rd level*/
#top-nav ul li li.current-menu-parent li.current-menu-item a {
	background-color:#fff;
	color:#0c96c2;
}

#top-nav ul li li a, 
#top-nav ul li.current-menu-item li a, 
#top-nav ul li.current-menu-parent li a, 
#top-nav ul li.current-menu-ancestor li a, 
#top-nav ul li li.current-menu-item li a, 
#top-nav ul li li.current-menu-parent li a, 
#top-nav ul li li.current-menu-parent li.current-menu-item a,
#top-nav .sub-menu li a, 
#top-nav .sub-menu .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li a,
#top-nav .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li:last-child > .sub-menu li a{
	color:#0c96c2;
}

#searchform:hover input {
	border-color:#0c96c2;
}
#searchform:hover input#searchsubmit{
	border-color:#0c96c2;
}

.sm-top li.sm-top-fb a:hover, 
.sm-top li.sm-top-gplus a:hover ,
.sm-top li.sm-top-tw a:hover,
.sm-top li.sm-top-youtube a:hover {
	border-color:#0c96c2;
}

#primary-nav ul.nav-listing li a {
	color:#0c96c2;
}

#primary-nav ul.nav-listing li a:hover, #primary-nav ul.nav-listing li a.selected {
	color:#0c96c2;
}

#primary-nav ul.nav-listing li a span {
	background-color:#0c96c2;
}

#primary-nav ul.nav-listing li a.selected span {
	background-color:#0c96c2;
}

.btn-top:hover {
	border:1px solid #0c96c2;
}

.corner-stamp {
	background-color:#0c96c2;
}

.corner-stamp.columns.four {
	background-color: #0c96c2;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 5/2),
only screen and ( min-resolution: 144dpi) {
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: url('images/arrow2x.png') no-repeat 9px 9px #0c96c2;
	}
	#primary-nav ul.nav-listing li a.selected span {
		background-color: #0c96c2;
	}
}
